<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
  <div style='margin:20px;'>
    <h1> 안녕하세요 ReviewTwit의 비밀번호 초기화 메일입니다 </h1>
    <br>
    <p>아래 링크를 클릭 해주세요<p>
      <br>
      <p>감사합니다.<p>
      <br>
    <div align='center' style='border:1px solid black; font-family:verdana';>
      <h3 style='color:red;'>비밀번호 초기화 링크를 클릭후 비밀번호를 변경해주세요.</h3>
      <div style='font-size:130%'>
        링크 : <strong><a th:href="@{'https://reviewtwits.shop//reset-password?code=' + ${code}}">비밀번호 초기화하기</a></strong>
      </div>
    </div>
    <br/>
  </div>
</body>
</html>